@font-face {
  font-family: NetflixSans;
  font-weight: 300;
  src: url("../assets/fonts/NetflixSans-Light.otf");
}
@font-face {
  font-family: NetflixSans;
  font-weight: 500;
  src: url("../assets/fonts/NetflixSans-Medium.otf");
}
@font-face {
  font-family: NetflixSans;
  src: url("../assets/fonts/NetflixSans-Regular.otf");
}
@font-face {
  font-family: NetflixSans;
  font-weight: 700;
  src: url("../assets/fonts/NetflixSans-Bold.otf");
}

body {
  font-family: "NetflixSans", sans-serif;
}